<ul>
    <li><h3>{{title}}<h3></h1></li>
    <li><a href="/"> Home</a></li>
    <li><a href="/admin">Administration</a></li>
    <li><a href="/sales">Sales</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Risk Analysis</a>
            <div class="dropdown-content">
                  <a href="#">Risk Analysis 1</a>
                  <a href="#">Risk Analysis 2</a>
                  <a href="#">Risk Analysis 3</a>
            </div>
    </li>
    <li class="right"><h4>Welcome {{name}}</h4></li>
</ul>